body {
	margin: 0;
	padding: 25px;
	-webkit-columns: 300px 2;
	   -moz-columns: 300px 2;
	        columns: 300px 2;
}

h1 {
	color: #2f5572;
	font-weight: 700;
}

.box a {
	display: block;
	padding: 5px;
}